.as-button {
	font-size: rem(12px);
	font-weight: normal;
	letter-spacing: 1px;

	position: relative;
	overflow: visible;
	text-align: side(left);
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.1s ease-in-out;
	transition-property: color, background-color, border-color;
	touch-action: manipulation;
	cursor: pointer;
	outline: none;
	font-family: inherit;
	display: inline-block;
	vertical-align: middle;
	background-color: transparent;
	border-color: transparent;
	color: inherit;
	border-radius: rem(2px);

	padding: 0 rem(20px);
	height: rem(44px);
	line-height: rem(42px);
	min-width: rem(44px);
	&:disabled {
		opacity: $alpha-60;
		cursor: default;
	}
}

.as-ta-left { text-align: side(left); }
.as-ta-center { text-align: center; }
.as-ta-right { text-align: side(right); }
.as-ta-inherit { text-align: inherit; }


			.as-primary-light { background-color: $primary-light; }
			.as-primary-medium { background-color: $primary-medium; }
			.as-primary-dark { background-color: $primary-dark; }
			.as-secondary-dark { background-color: $secondary-dark; }
			.as-secondary-light { background-color: $secondary-light; }
			.as-secondary-medium { background-color: $secondary-medium; }
			.as-success-dark { background-color: $success-dark; }
			.as-success-light { background-color: $success-light; }
			.as-success-medium { background-color: $success-medium; }
			.as-danger-dark { background-color: $danger-dark; }
			.as-danger-light { background-color: $danger-light; }
			.as-danger-medium { background-color: $danger-medium; }



.as-button--primary,
.as-button--with-icon-primary {
	color: $primary-light;
	background-color: $primary-dark;
	border: 1px solid transparent;
	&:hover,
	&.as-button--active:hover
	{
		color: $primary-light;
		background-color: $primary-medium;
		border: 1px solid transparent;
	}
	&:active,
	&.as-button--active:active,
	&.as-button--active {
		color: $primary-light;
		background-color: $primary-medium;
		border: 1px solid transparent;
	}
	&:disabled {
		color: $primary-light;
		background-color: $primary-light;
		border: 1px solid transparent;
	}
}

.as-button--secondary {
	color: $secondary-light;
	background-color: $secondary-dark;
	border: 1px solid transparent;
	&:hover,
	&.as-button--active:hover
	{
		color: $secondary-light;
		background-color: $secondary-medium;
		border: 1px solid transparent;
	}
	&:active,
	&.as-button--active:active,
	&.as-button--active {
		color: $secondary-light;
		background-color: $secondary-medium;
		border: 1px solid transparent;
	}
	&:disabled {
		color: $secondary-light;
		background-color: $secondary-light;
		border: 1px solid transparent;
	}
}

.as-button--tertiary {
	color: $success-light;
	background-color: $success-dark;
	border: 1px solid transparent;
	&:hover,
	&.as-button--active:hover,
	&:focus {
		color: $success-light;
		background-color: $success-medium;
		border: 1px solid transparent;
	}
	&:active,
	&.as-button--active:active,
	&.as-button--active {
		color: $success-light;
		background-color: $success-medium;
		border: 1px solid transparent;
	}
	&:disabled {
		color: $success-light;
		background-color: $success-light;
		border: 1px solid transparent;
	}
}

.as-button--danger {
	color: $danger-light;
	background-color: $danger-dark;
	border: 1px solid transparent;
	&:hover,
	&.as-button--active:hover,
	&:focus {
		color: $danger-light;
		background-color: $danger-medium;
		border: 1px solid transparent;
	}
	&:active,
	&.as-button--active:active,
	&.as-button--active {
		color: $danger-light;
		background-color: $danger-medium;
		border: 1px solid transparent;
	}
	&:disabled {
		color: $danger-light;
		background-color: $danger-light;
		border: 1px solid transparent;
	}
}

.as-button--pill {
	border-radius: 1000px;
}